{% extends "base/base.html" %}

{% block content %}
<script>
    window.CONFIG.PAGE = 'error-page';
</script>

<!-- 500 -->
    <section class="container profile-container flex f-d-column j-c-space-between a-i-stretch">
        <div class="flex f-d-column j-c-center a-i-center height-100 w-100 text-center error-page-container">
            <h1 class="h2 error-heading">
                500
            </h1>
            <div class="m-t-25">
                <h3 class="m-t-0">Server error...</h3>
                <p>
                    Sorry, we had technical problems during your last operation. Please try again later.
                </p>
                <a class="btn btn-red m-t-5" href="{% url 'home' %}">Back Home</a>
            </div>
        </div>
    </section>
<!-- 500 -->

{% endblock %}