{% load sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>lulu</title>
    <!--TODO THIS CSS AND OTHER-->
    <link rel="stylesheet" href="/media/css/front/style.min.css">

    <!--<link rel="stylesheet" href="/media/css/front/slider.css">-->
    <!--<link rel="stylesheet" href="/media/css/front/style.css">-->
</head>
<body>


<header class="header">
    <div class="container">
        <div class="header__item">
            <div class="header__logo"><img src="/media/img/logo%20(1).svg" alt=""></div>
        </div>

        <div class="header__item header__item--link">
            <div class="header__link header__link--ios"><a href="https://appstore.com"></a></div>
            <div class="header__link header__link--google"><a href="https://play.google.com"></a></div>
        </div>
    </div>
</header>


<section class="about">
    <div class="main__slider peppermint peppermint-inactive" id="peppermint">
        <figure>
            <div class="main__slider-wrapper"></div>
            <!--<img src="img/slider/1.png" alt="">-->
        </figure>
        <figure>
            <div class="main__slider-wrapper"></div>
            <!--<img src="img/slider/2.png" alt="">-->
        </figure>
        <figure>
            <div class="main__slider-wrapper"></div>
            <!--<img src="img/slider/3.png" alt="">-->
        </figure>
    </div>
    <div class="container">
        <h1 class="about__header">
            Pet <br>
            <span class="about__header about__header--green">Rater</span> <br>
            App <br>
        </h1>
        <h2 class="about__header about__header--small">
            Share your <br>
            happiness
        </h2>
    </div>
</section>


<section class="advantages">
    <div class="container">
        <article class="advantages__item">
            <div class="advantages__screen advantages__screen--left"></div>
            <div class="advantages__text advantages__text--right">
                <h1 class="advantages__header">
                    Perfect <br>
                    platform for <br>
                    <span class="advantages__header--green">pet lovers</span></h1>
                <ul class="advantages__categories">
                    <li class="advantages__category-item">Cats</li>
                    <li class="advantages__category-item">Dogs</li>
                    <li class="advantages__category-item">Parrots</li>
                </ul>
                <p class="advantages__about">
                    Is your pet a spirited troublemaker? <br>
                    Curious and friendly? Silly and a natural performer? <br>
                </p>
                <p class="advantages__about">
                    Have you ever tried to photograph your pet? It is not easy to <br> photograph pets like cats and
                    dogs.
                </p>
            </div>
        </article>


        <article class="advantages__item">
            <div class="advantages__text advantages__text--left">
                <h1 class="advantages__header">Ultimate battle <br>
                    of <span class="advantages__header--green">cuteness</span></h1>
                <h1 class="advantages__header advantages__header--small">
                    Download our free app!
                </h1>
                <p class="advantages__about">
                    You're in with the chance of winning some great prizes! <br>
                    Winners receive electronic certificates, and
                    the best works <br>
                    fall into the album, published the results of the contest.
                </p>
                <ul class="advantages__download">
                    <li class="advantages__download-item advantages__download-item--ios"><a
                            href="https://appstore.com"></a>
                    </li>
                    <li class="advantages__download-item advantages__download-item--google"><a
                            href="https://play.google.com"></a></li>
                </ul>
            </div>
            <div class="advantages__screen advantages__screen--right"></div>
        </article>
    </div>
</section>


{#<section class="best">#}
{#    <div class="container">#}
{#        <div class="best__avatar">#}
{#            <img src="/media/img/pexels-photo-126407%20(1).png" alt="" class="best__img">#}
{#        </div>#}
{#        <div class="best__info">#}
{#            <div class="best__big-wrapper">#}
{#                <h1 class="best__header">Best photo:</h1>#}
{#                <div class="wrapper">#}
{#                    <div class="best__display">cats#}
{#                        <svg width="25" height="16" viewBox="0 0 25 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">#}
{#                            <title>Back Arrow</title>#}
{#                            <desc>Created using Figma</desc>#}
{#                            <g id="Canvas" transform="translate(660 -1166)">#}
{#                                <g id="Back Arrow">#}
{#                                    <g id="Back">#}
{#                                        <use xlink:href="#path0_fill" transform="matrix(6.12323e-17 -1 1 6.12323e-17 -660.669 1182)" fill="#00BF72"/>#}
{#                                    </g>#}
{#                                </g>#}
{#                            </g>#}
{#                            <defs>#}
{#                                <path id="path0_fill" fill-rule="evenodd" d="M 14.5787 1.16069C 13.9031 0.512137 12.8361 0.512137 12.1606 1.16069L 0 12.8347L 12.1606 24.5088C 12.8361 25.1573 13.9031 25.1573 14.5787 24.5088C 15.2944 23.8217 15.2944 22.677 14.5787 21.9899L 5.042 12.8347L 14.5787 3.67959C 15.2944 2.99249 15.2944 1.84779 14.5787 1.16069Z"/>#}
{#                            </defs>#}
{#                        </svg>#}
{#                    </div>#}
{#                    <div class="best__select">#}
{#                        <div class="best__option">cats</div>#}
{#                        <div class="best__option">dogs</div>#}
{#                        <div class="best__option">parrots</div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <ul class="best__periods">#}
{#                <li class="best__periods-item best__periods-item--active">This week</li>#}
{#                <li class="best__periods-item">Last week</li>#}
{#                <li class="best__periods-item">Before</li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</section>#}


<!--<section class="rating">-->
    <!--<div class="container">-->

        <!--<h1 class="rating__header">Top <span class="rating__header&#45;&#45;green">25</span></h1>-->

        <!--<div class="wrapper">-->
            <!--<ul class="rating__periods">-->
                <!--<li class="rating__periods-item rating__periods-item&#45;&#45;active">This week</li>-->
                <!--<li class="rating__periods-item">Last week</li>-->
                <!--<li class="rating__periods-item">Before</li>-->
            <!--</ul>-->


            <!--<div class="rating__categories">-->
                <!--<span class="rating__categories-label">pet category <br></span>-->

                <!--<div class="rating__display">Cats-->
                    <!--<svg width="21" height="13" viewBox="0 0 21 13" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">-->
                        <!--<title>Back Arrow</title>-->
                        <!--<desc>Created using Figma</desc>-->
                        <!--<g id="Canvas1" transform="translate(4032 778)">-->
                            <!--<g id="Back Arrow">-->
                                <!--<g id="Back">-->
                                    <!--<use xlink:href="#1path0_fill" transform="matrix(6.12323e-17 -1 1 6.12323e-17 -4031.76 -765.015)"/>-->
                                <!--</g>-->
                            <!--</g>-->
                        <!--</g>-->
                        <!--<defs>-->
                            <!--<path id="1path0_fill" fill-rule="evenodd" d="M 11.9267 0.949552C 11.374 0.418975 10.5012 0.418975 9.94846 0.949552L 0 10.5L 9.94846 20.0504C 10.5012 20.581 11.374 20.581 11.9267 20.0504C 12.5123 19.4883 12.5123 18.5519 11.9267 17.9898L 4.12482 10.5L 11.9267 3.01025C 12.5123 2.44813 12.5123 1.51167 11.9267 0.949552Z"/>-->
                        <!--</defs>-->
                    <!--</svg>-->



                <!--</div>-->
                <!--<div class="rating__select">-->
                    <!--<div class="rating__option">Cats</div>-->
                    <!--<div class="rating__option">Dogs</div>-->
                    <!--<div class="rating__option">Parrots</div>-->
                <!--</div>-->


            <!--</div>-->
        <!--</div>-->

        <!--<ul class="rating__list">-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">1</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/jay-wennington-364037.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">2</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/cat-favorite-relaxation-rest-39255.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">3</span>. Anna-->
                <!--</div>-->
                <!--<img src="img/011817-pets-to-follow-on-social-media-8.png"-->
                     <!--alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">4</span>. Veronica-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/011817-pets-to-follow-on-social-media-10.png" alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">5</span>. Sam-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/3a744e35a7589a7c7800186336d22462&#45;&#45;coming-home-kittens-and-puppies.png" alt=""-->
                        <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">6</span>. Anna-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/4a5b84011c823a4711482e5d59f534d9&#45;&#45;cat-and-dog-funny-cats-and-kittens.png" alt=""-->
                        <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">7</span>. Veronica-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/31f8834461a3651aba72a1b363886910&#45;&#45;majestic-animals-blue-eyes.png" alt=""-->
                        <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">8</span>. Sam-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/4448e79a99fa354377f999cf7d72e5c2&#45;&#45;funny-pets-cute-pets.png" alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">9</span>. Anna-->
                <!--</div>-->
                <!--<img src="img/34614d927f7c8c1c3562ef75f0471c37.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">10</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/187144066.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">11</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/Без%20названия%20(1).png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">12</span>. Anna-->
                <!--</div>-->
                <!--<img src="img/Без%20названия%20(2).png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">13</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/Без%20названия.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">14</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/a38f8db198e3fea43c83c465ffb0283b.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">15</span>. Anna-->
                <!--</div>-->
                <!--<img src="img/aDyGLoi.png" alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">16</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/all-pets-rotator-small-animals.png"-->
                     <!--alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">17</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/cutest-kittens-ever-6.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span-->
                        <!--class="rating__number">18</span>. Anna-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/d42c52033825a39f291e7295a04268d9&#45;&#45;pretty-cats-cute-cats.png" alt=""-->
                        <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">19</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/dog-595167_960_720.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">20</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/DQCN1r7UIAAxwKy.png"-->
                     <!--alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span class="rating__number">21</span>. Anna-->
                <!--</div>-->
                <!--<img-->
                        <!--src="img/e6c7f4df6f0ab03e3d9aa204b0fbb1dd.png" alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">22</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/Image6.png"-->
                     <!--alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/tnn2mma017tvaakctlbl.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">23</span>. Sam-->
                <!--</div>-->
                <!--<img src="img/images%20(1).png"-->
                     <!--alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/theme-candid-portraits-smile-woman-girl-40064.png" alt=""-->
                                               <!--class="rating__avatar"><span class="rating__number">24</span>. Anna-->
                <!--</div>-->
                <!--<img src="img/images%20(3).png"-->
                     <!--alt="" class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item">-->
                <!--<div class="rating__name"><img src="img/veronika-homchis-64124.png" alt="" class="rating__avatar"><span-->
                        <!--class="rating__number">25</span>. Veronica-->
                <!--</div>-->
                <!--<img src="img/011817-pets-to-follow-on-social-media-8.png" alt=""-->
                     <!--class="rating__img">-->
            <!--</li>-->
            <!--<li class="rating__item rating__item&#45;&#45;download">-->
                <!--<div class="rating__download">-->
                    <!--<h2 class="rating__download-header">Download our free app!</h2>-->
                    <!--<br>-->
                    <!--<a href="https://google.com" class="rating__download-link">Download Now</a>-->
                <!--</div>-->
            <!--</li>-->
        <!--</ul>-->


    <!--</div>-->
<!--</section>-->


<footer class="footer">
    <div class="container">
        <div class="footer__logo"><img src="/media/img/logo.png" alt=""></div>
        <div class="footer__copyright">Copyright © 2017 Designmodo. All Rights Reserved.</div>
        <div class="footer__developer">developed by Attract Group</div>
    </div>
</footer>


<script src="/media/js/landing.min.js"></script>
</body>
</html>